<mat-card *ngIf="editAreaState() !== null">
  <mat-card-content>
    <div class="area-edit-controls-wrapper" [class.hide-area-edit-control]="isHideDisplayControls()">
      <mat-form-field>
        <mat-label>Название зоны</mat-label>
        <input matInput placeholder="Название" [formControl]="areaForm.controls.title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Цвет</mat-label>
        <input matInput [formControl]="areaForm.controls.color" />
        <ngx-colors
          matSuffix
          ngx-colors-trigger
          style="display: inline-block; margin: 5px"
          [formControl]="areaForm.controls.color"
        ></ngx-colors>
      </mat-form-field>
      <span class="area-edit-action-buttons">
        <button mat-raised-button color="accent" (click)="cancel()">Отменить</button>
        <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
      </span>
    </div>
    <div
      class="hide-area-edit-control-button"
      (click)="isHideDisplayControls.set(true)"
      *ngIf="!isHideDisplayControls(); else showDisplayControlsButton"
    >
      <mat-icon>expand_less</mat-icon>
    </div>
    <ng-template #showDisplayControlsButton>
      <div class="show-area-edit-control-button" (click)="isHideDisplayControls.set(false)">
        <mat-icon>expand_more</mat-icon>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
