<mat-progress-spinner *ngIf="loading(); else content" mode="indeterminate" />
<ng-template #content>
  <app-map-controls-overlay (contextmenu)="openContextMenu($event)">
    <app-map-area-editing-overlay>
      <app-map-simple-overlay [overlayType]="OVERLAY_TYPE.OBJECT" class="object-overlay">
        <app-map-simple-overlay [overlayType]="OVERLAY_TYPE.AREA" class="area-overlay">
          <app-map-simple-overlay [overlayType]="OVERLAY_TYPE.MESH" class="mesh-overlay">
            <app-map-image />
          </app-map-simple-overlay>
        </app-map-simple-overlay>
      </app-map-simple-overlay>
    </app-map-area-editing-overlay>
  </app-map-controls-overlay>
</ng-template>
