:host {
  --kt-control-overlay-z-index: 100;
  --kt-object-edit-overlay-z-index: 97;
  --kt-area-edit-overlay-z-index: 96;
  --kt-object-overlay-z-index: 95;
  --kt-area-overlay-z-index: 91;
  --kt-mesh-overlay-z-index: 90;
  display: block;
  width: fit-content;
  height: fit-content;
}
