<mat-card>
  <mat-card-content>
    <mat-action-list cdkMenu>
      <ng-container *ngIf="mesh() as mesh">
        <button mat-list-item cdkMenuItem (click)="switchFogForMeshElement(mesh)">
          {{ mesh.fog ? 'Убрать туман' : 'Добавить туман' }}
        </button>
        <hr />
      </ng-container>
      <ng-container *ngIf="!editAreaState()">
        <button mat-list-item cdkMenuItem (click)="editArea(getEmptyAreaState())">Создать область</button>
        <button mat-list-item cdkMenuItem *ngIf="areas().length" [cdkMenuTriggerFor]="area">
          <span class="button-content">Редактировать область <mat-icon>arrow_right</mat-icon></span>
        </button>
        <hr />
      </ng-container>
      <ng-container *ngIf="!editObjectState()">
        <button
          mat-list-item
          cdkMenuItem
          *ngIf="mesh() as mesh"
          (click)="editObject(getDefaultObjectState(mesh))"
        >
          Создать объект
        </button>
        <button mat-list-item cdkMenuItem *ngIf="objects().length" [cdkMenuTriggerFor]="object">
          <span class="button-content">Редактировать объект <mat-icon>arrow_right</mat-icon></span>
        </button>
      </ng-container>
    </mat-action-list>
  </mat-card-content>
</mat-card>
<ng-template #area>
  <mat-card>
    <mat-card-content cdkMenu>
      <mat-action-list>
        <button *ngFor="let area of areas()" mat-list-item cdkMenuItem (click)="editArea(area)">
          {{ area.title }}
        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #object>
  <mat-card>
    <mat-card-content cdkMenu>
      <mat-action-list>
        <button *ngFor="let object of objects()" mat-list-item cdkMenuItem (click)="editObject(object)">
          {{ object.title }}
        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
</ng-template>
