:host {
  display: flex;
  flex-direction: column;
}

app-camping-check-calculation {
  margin: 10px;
}

.action-buttons-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
