<app-camping-check-calculation
  *ngFor="let item of checksState(); trackBy: trackBy; let index = index"
  [skillCheckFormValue]="item"
  [externalSkillCheck$]="doAllChecks$"
  (formUpdate)="doUpdate($event, index)"
  (remove)="doRemove(index)"
></app-camping-check-calculation>
<div class="action-buttons-wrapper">
  <button mat-raised-button color="primary" (click)="doAllChecks()">Провести все проверки</button>
  <button mat-raised-button color="accent" (click)="addCheck()">Добавить проверку</button>
</div>
