:host {
  overflow: auto;
}

.map-control-overlay {
  z-index: var(--kt-control-overlay-z-index);
}

.scale-control {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.global-display-control {
  position: fixed;
  top: 70px;
  left: 0;
}

.area-edit-control {
  position: fixed;
  top: 0;
  left: 50vh;
}
