<mat-card>
  <mat-card-content>
    <div class="check-calculation-wrapper">
      <div class="check-calculation">
        <form class="check-form">
          <mat-form-field style="width: 200px">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Название" [formControl]="skillCheckForm.controls.title" />
          </mat-form-field>
          <mat-form-field style="width: 60px">
            <mat-label>Мод</mat-label>
            <input
              matInput
              type="number"
              placeholder="Модификатор"
              [formControl]="skillCheckForm.controls.modifier"
            />
          </mat-form-field>
          <mat-form-field style="width: 60px">
            <mat-label>DC</mat-label>
            <input matInput type="number" placeholder="DC" [formControl]="skillCheckForm.controls.dc" />
          </mat-form-field>
        </form>
        <div class="check-action-result">
          <button mat-mini-fab color="primary" (click)="doCheck()" matTooltip="Провести проверку">
            <mat-icon>double_arrow</mat-icon>
          </button>
          <mat-chip-listbox *ngIf="checkResult()?.result as result">
            <mat-chip
              class="check-result-chip"
              [color]="result?.resultInterpretation?.color"
              disabled
              [class.outdated]="checkResult().isResultOutdated"
            >
              <span class="check-result-text">{{ result?.resultInterpretation?.label }}</span>
              <span class="check-result-text">
                (
                <span>{{ result?.rollTotal }}</span>
                =
                <span>{{ result?.rollRaw }}</span>
                +
                <span>{{ result?.rollModifier }}</span>
                )
              </span>
            </mat-chip>
          </mat-chip-listbox>
        </div>
      </div>
      <button mat-mini-fab color="primary" (click)="doRemove()" matTooltip="Убрать">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
