:host {
  display: flex;
  flex-direction: column;
  min-width: 400px;

  > .object-edit-action-buttons {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
  }
}

.icon-option {
  display: flex;
  align-items: center;
  gap: 1em;
}
