<mat-card *ngIf="editAreaState() !== null || editObjectState() !== null">
  <mat-card-content>
    <div class="controls-wrapper" [class.hide-edit-control]="isHideDisplayControls()">
      <app-area-edit-control
        *ngIf="editAreaState() !== null"
        class="edit-control map-control-overlay"
      ></app-area-edit-control>
      <app-object-edit-control
        *ngIf="editObjectState() !== null"
        class="edit-control map-control-overlay"
      ></app-object-edit-control>
    </div>
    <div
      class="hide-edit-control-button"
      (click)="isHideDisplayControls.set(true)"
      *ngIf="!isHideDisplayControls(); else showDisplayControlsButton"
    >
      <mat-icon color="primary">expand_less</mat-icon>
    </div>
    <ng-template #showDisplayControlsButton>
      <div class="show-edit-control-button" (click)="isHideDisplayControls.set(false)">
        <mat-icon color="primary">expand_more</mat-icon>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
