/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-spacer {
  flex-grow: 1;
}

div.mdc-text-field {
  padding: 0 8px;
}

.flex {
  display: flex;
}

.flex-gap-10 {
  gap: 10px;
}

.align-center {
  align-items: center;
}

.margin-0,
.mat-typography .margin-0 {
  margin: 0;
}
